Важный этап в обучении модели препроцессинг данных. В задании сказано, что некоторые данные, как в тестовых, так и в тренировочных могут быть пропущенны некоторые значения. Эти значения нужно исключить или преобразовать в датасете.

In [ ]:
!unzip /content/skill-task2.zip

Archive:  /content/skill-task2.zip
  inflating: sample_submission.csv
  inflating: test.csv/test.csv
  inflating: train.csv/train.csv

Подключаем библиотеки.

In [247]:
import numpy as np
import pandas as pd

Оценка тренировочных данных.

In [248]:
train_data = pd.read_csv('/content/train.csv/train.csv')

In [249]:
train_data.head()

  sample_id         f0        f1        f2  ...     f1609     f1610     f1611    y
0  sample_0  25.609375  6.703125  3.652344  ...  7.289062  7.617188  7.980469  1.0
1  sample_1  18.343750  5.824219  2.966797  ...  6.730469  7.074219  7.175781  1.0
2  sample_2  28.562500  6.230469  3.583984  ...  7.386719  7.878906  8.328125  1.0
3  sample_3  28.062500  6.132812  2.726562  ...  3.890625  4.042969  4.273438  1.0
4  sample_4  20.109375  6.144531  3.203125  ...  6.027344  6.242188  6.449219  0.0

[5 rows x 1614 columns]

Удалим столбец 'ID'

In [250]:
#train_data.drop(train_data.columns[0], axis=1, inplace=True)

Посмотрим на пропущенные данные.

**Размер тренировочного датасета (1095, 1613)**

Просуммируем количество пропущенных значений в столбцах и выведем в отдельный список.

In [251]:
empty_train = []
for c in train_data:
    missing = train_data[c].isnull().sum()
    if missing > 0:
        row = c, missing
        empty_train.append(row)
del missing, row

Оценко тестовых данных.

In [252]:
test_data = pd.read_csv('/content/test.csv/test.csv')

Удаляем ID

In [ ]:
#test_data.drop(test_data.columns[0], axis=1, inplace=True)

In [253]:
test_data.head()

     sample_id         f0        f1  ...     f1609     f1610     f1611
0  sample_1095  37.968750  6.757812  ...  5.562500  5.644531  5.714844
1  sample_1096  23.859375  5.933594  ...  6.457031  6.875000  6.937500
2  sample_1097  40.250000  7.425781  ...  5.796875  6.007812  6.199219
3  sample_1098  17.687500  5.761719  ...  4.726562  4.855469  4.960938
4  sample_1099  23.828125  6.394531  ...  6.179688  6.363281  6.480469

[5 rows x 1613 columns]

**Размер тестового датасета (194, 1612)**

Количество пропущенных значений в столбцах для тестовых данных.

In [254]:
empty_test = []
for c in test_data:
    missing = test_data[c].isnull().sum()
    if missing > 0:
        row = c, missing
        empty_test.append(row)
del missing, row

Идея объеденить данные о пропущенных столбцах вместе и посмотреть, где не сходятся названия (там будет вместо значений NaN).

In [255]:
general_empty = pd.merge(pd.DataFrame(empty_test), pd.DataFrame(empty_train), on=0)

In [256]:
for i in range(len(general_empty)):
    if general_empty['1_y'][i] is None or general_empty['1_x'][i] is None: 
        print(i)

Получается, столбцы у которых пропущены значения в тренировочных и тестовых данных, совпадают!

Тогда необходимо определиться в каком соотношение удалять столбцы и строки. Задача, оставить наибольшое количество данных.

Посчитаем количество строк для тестовых и тренировочных данных в размере 5%.

In [257]:
int(1095 * 0.05), int(194 * 0.05)

(54, 9)

Получаем порог среза столбцов.

In [258]:
general_empty[general_empty['1_y'] > 54].shape

(174, 3)

In [259]:
general_empty[general_empty['1_x'] > 9].shape

(174, 3)

Интересно, что колличество строк опять свопадают (количество строк в этом случае - это название столбцов).

**Срезаем данные для тренировочного датасета.**

Получим название столбцов для среза.

In [260]:
empty_name_train = general_empty[general_empty['1_y'] > 54][0].tolist()

Удаляем столбцы.

In [261]:
train_data = train_data.drop(columns=empty_name_train)

Удаляем строки с NaN.

In [262]:
train_data = train_data.dropna()

Проверяем наличие NaN.

In [263]:
for c in train_data:
    no_missing = train_data[c].isnull().sum()
    if no_missing > 0:
        print(no_missing)

**Все ячейки имеют значения.**

Получим название столбцов для среза.

In [265]:
empty_name_test = general_empty[general_empty['1_x'] > 9][0].tolist()

Удаляем столбцы.

In [266]:
test_data = test_data.drop(columns=empty_name_test)

Удаляем строки с NaN.

In [267]:
test_data = test_data.dropna()

Проверяем наличие NaN.

In [268]:
for c in test_data:
    no_missing = test_data[c].isnull().sum()
    if no_missing > 0:
        print(no_missing)

Размер тренировочного и тестового датасета.

In [269]:
print(train_data.shape, test_data.shape) #in train data is y (prediction), test data without it

(1017, 1440) (176, 1439)

**Оценим количество срезанных. **

P.S. В тренировочном датасете, есть столбец Y для предсказания. Таким образом количество столбцов совпадает.

Процент среза по столбца для тренировочного, тестового, для обоих по колонкам.

In [270]:
(1017 / 1095) * 100, ((1440 - 2) / 1612) * 100, (176 / 194) * 100

(92.87671232876711, 89.20595533498759, 90.72164948453609)

Для строк тренировочных данных, удалили 7,2%.
Для строк тестовых данных удалили 9,3%.
Для столбцов удалили 10,8% данных.

Сравним, не похожие столбцы.

In [271]:
col1 = train_data.drop(columns=['y']).columns

In [272]:
col2 = test_data.columns

In [273]:
for i in range(len(col1)):
    if col1[i] != col2[i]:
        print(i)

Значит все имена столбцов совпадают!

*Идея, если колонка не содержит 0, и при этом большое значение NaN, то может более ликвидно не удалять их, а значение NaN заменять на 0, тогда мы оставим большое колличество данных. Но в этом случае, машина будет считать, что значения NaN (как координаты точек) равным между собой, но они не могут равнятся, т.к. это подобие идеи бесконечности.*

Сохраним обработанные данные.

In [274]:
train_data.to_csv('train_p.csv', index=False) #index false

In [275]:
test_data.to_csv('test_p.csv', index=False) #index false

In [276]:
with open("col_name.txt", "w") as f:
    f.writelines(str(empty_name_test))